<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- 全站参数配置 -->
	<context-param>
		<description>全站编码配置</description>
		<param-name>encode</param-name>
		<param-value>utf-8</param-value>
	</context-param>
  <display-name></display-name>
  
  <filter>
	<description>全站乱码过滤器</description>
	<filter-name>EncodeFilter</filter-name>
	<filter-class>filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>EncodeFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
  	<filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>LogFilter</filter-name>
  	<filter-class>filter.LogFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LogFilter</filter-name>
  	<url-pattern>/Servlet/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetExamTypeServlet</servlet-name>
    <servlet-class>web.GetExamTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetStuServlet</servlet-name>
    <servlet-class>web.GetStuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addType</servlet-name>
    <servlet-class>web.addType</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateTypeServlet</servlet-name>
    <servlet-class>web.UpdateTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>web.AddStuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStuServlet</servlet-name>
    <servlet-class>web.UpdateStuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteStuServlet</servlet-name>
    <servlet-class>web.DeleteStuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExportExcel</servlet-name>
    <servlet-class>web.ExportExcel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoadExcelServlet</servlet-name>
    <servlet-class>web.LoadExcel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AuthImage</servlet-name>
    <servlet-class>web.AuthImage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValidCodeServlet</servlet-name>
    <servlet-class>web.ValidCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>web.LogOutServlet</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>GetExamTypeServlet</servlet-name>
    <url-pattern>/GetExamTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStuServlet</servlet-name>
    <url-pattern>/GetStuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addType</servlet-name>
    <url-pattern>/Servlet/addType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTypeServlet</servlet-name>
    <url-pattern>/Servlet/UpdateType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/Servlet/AddStu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStuServlet</servlet-name>
    <url-pattern>/Servlet/UpdateStu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStuServlet</servlet-name>
    <url-pattern>/Servlet/DeleteStu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportExcel</servlet-name>
    <url-pattern>/ExportExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadExcelServlet</servlet-name>
    <url-pattern>/Servlet/LoadExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthImage</servlet-name>
    <url-pattern>/AuthImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidCodeServlet</servlet-name>
    <url-pattern>/ValidCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
